body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
}

.main__user {
    display: flex;
    gap: 4em;
    padding: 10vh 15vw;
}


.main__user__img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main__user__information {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.user__fio {
    font-weight: 500;
    font-size: 1.8em;
}

.main__user__information__fio {
    display: flex;
    flex-direction: column;
}
.main__user__fio {
    display: flex;
}
.user__edit {
    cursor: pointer;
    margin-left: 1em;
}
.user__edit img {
    width: 30px;
}

.user__role {
    font-size: 1.1em;
}

.main__user__information__about p {
    margin-left: 2em;
    margin-top: 1em;
}