main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 2.5%;
}
main .topic__wrapper {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
main .topic__data {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #efefef;
}
main .topic__data .topic__header {
  font-size: 1.4em;
  font-weight: bold;
}
main .topic__data .user__data, .answers .answer .user__data {
  color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: .9em;
  margin-bottom: 10px;
}
main .topic__data .user__data .user__link, .answers .answer .user__data .user__link {
  color: #0090ff;
  text-decoration: none;
}
main .topic__data .user__data .user__logo, .answers .answer .user__data .user__logo{
  height: 30px;
  width: 30px;
}
main .topic__text {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}
.answers .answer {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.answers .answer .text__answer {
  padding: 20px;
}
main form {
  margin-top: 3%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
main form span {
  font-size: 1.6em;
  font-weight: bold;
}
main form .header__topic {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  padding: 0 10px 0 10px;
}
main form textarea {
  resize: vertical;
  width: 200%;
  height: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}
textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
textarea::-webkit-scrollbar-track-piece {
  background: transparent;
  -webkit-border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #efefef;
  -webkit-border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #efefef;
  -webkit-border-radius: 15px;
}
main form .header__topic, main form textarea {
  font-size: 1.1em;
}

.add__btn {
  height: 40px;
  width: 175px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
  color: #FED6BC;
  border: 1px solid #FED6BC;
  background: none;
}
.add__btn:hover {
  transition: .4s;
  color: white;
  background: #FED6BC;
  box-shadow: 0 0 0 5px rgba(254, 214, 188, 0.6), 0 0 0 10px rgba(254, 214, 188, 0.3);
}