{% include '_nav.html' %}


<!doctype html>
  <html lang="ru">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
  </html>