{% extends 'base.html'%}


{% block content %}
{% if current_user.is_authenticated %}
<div class="topics">
    {% for item_topics in topics %}
    <div class="topic">
      <div class="topic_info_text">
        <a href="{{ url_for('sometopic', id_topic=item_topics.id, name_topic=item_topics.header) }}" class="topic_header">{{ item_topics.header }}</a>
        <span class="topic_text">{{ item_topics.content }}</span>
      </div>
      <div class="topic_info_user">
        <img alt="Не удалось загрузить изображение" src="" class="user_logo">
        <a href="{{ url_for('profil', username=user[item_topics.user_id][-1]) }}" class="user_link">{{ ' '.join(user[item_topics.user_id][:-1]) }}</a>
        <span class="date">{{item_topics.created_at.strftime('Задан %d.%m.%Y в %H:%M:%S')}}</span>
      </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}