{% extends 'base.html' %}


{% block content %}
{% if current_user.is_authenticated %}
<div class="col-md-12">
	{% for item in topics %}
	<div class="card mb-3">
		<div class="card-header">
			{% if item.user_id %}
			Вопрос от <a href="{{ url_for('profil', username=user[item.user_id][-1]) }}">{{ ' '.join(user[item.user_id][:-1]) }}</a>
			{% else %}
			Вопрос от неизвестного
			{% endif %}
        </div>
		<div class="card-body">
			<h5 class="card-title">{{ item.header }}</h5>
			<p class="col-8 text-truncate">{{ item.content }}</p>
			<a href="{{ url_for('sometopic', id_topic=item.id, name_topic=item.header) }}" class="btn btn-primary">Read more</a>
		</div>
		<div class="card-fotter text-muted" style="margin-left: 15px;">
			{{item.created_at.strftime('%d.%m.%Y %H:%M:%S')}}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
