<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/cap.css">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>


    <header>
        <div class="menu">
            <div class="logo">
                <a>C&P</a>
            </div>
    

          <!--  Для тех кто нет    -->
    <!--      <a href="">Зарегистрироваться</a>-->
    <!--      <a href="">Войти</a>-->
    
          <!--   Для тех кто залогинился   -->
    
            <a href="">Задать вопрос</a>
            <a href="">Профиль</a>
            <a href="">Выйти</a>
        </div>

        <div class="search">
    
            <form action="">
                <input type="text" name="" placeholder="Введите запрос">
                <input type="submit" name="" value="Поиск">
            </form>
    
        </div>
    
    
    </header>


    <main>

        <div class="main__user">

            <div class="main__user__img">
                <img src="../static/imgs/avatar.png" alt="">
            </div>
            <div class="main__user__information">

                
                <div class="main__user__information__fio">
                    <div class="main__user__fio">
                        <h2 class="user__fio">Иван Иванов Иванович</h2>
                        <a class="user__edit"><img src="../static/imgs/edit.png" alt=""></a>
                    </div>
                    <p class="user__role">Родитель</p>
                </div>

                <div class="main__user__information__about">

                    <h2>О себе:</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit reiciendis ipsa soluta alias quae magnam corrupti, vel minima libero commodi, nemo iusto rem aliquam! Quibusdam repudiandae asperiores labore maxime saepe.</p>

                </div>



            </div>

        </div>    

    </main>

</body>
</html>