{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_topic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ list_lang_site[lang_now][0] }}</p>
    {{form.header(class="header__topic", maxlength="150", type="text", placeholder=list_lang_site[lang_now][15])}}
    {% for error in form.header.errors %}
    <p class="alert alert-danger" role="alert">
      {{ error }}
    </p>
    {% endfor %}
    {{ form.content(placeholder=list_lang_site[lang_now][16]) }}
    {% for error in form.content.errors %}
    <p class="alert alert-danger" role="alert">
      {{ error }}
    </p>
    {% endfor %}
    {{ form.submit(type="submit", class="add__btn", value=list_lang_site[lang_now][0]) }}
  </form>
{% endblock %}