<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/form.css">
  <link rel="stylesheet" href="../static/css/cap.css">
    <title>Регистрация</title>
</head>
<body>
<div class="wrapper">

<!-- Шапка -->
  <header>

    <div class="menu">
      <div class="logo">
        <a>C&P</a>
      </div>

      <!--  Для тех кто нет    -->
      <a href="">Зарегистрироваться</a>
      <a href="">Войти</a>

      <!--   Для тех кто залогинился   -->

      <!--      <a href="">Задать вопрос</a>-->
      <!--      <a href="">Профиль</a>-->
      <!--      <a href="">Выйти</a>-->


    </div>

    <div class="search">

      <form action="">
        <input type="text" name="" placeholder="Введите запрос">
        <input type="submit" name="" value="Поиск">
      </form>

    </div>


  </header>




<!-- Регистрация -->
  <div class="form reg">
    <span class="header_form">Регситрация</span>
    <form>
      <input type="email" name="email" placeholder="E-mail">
      <input type="password" name="password" placeholder="Пароль">
      <input type="password" name="repeat_password" placeholder="Повтор пароля">
      <input type="text" name="name" placeholder="Имя">
      <input type="text" name="surname" placeholder="Фамилия">
      <input type="text" name="patronymic" placeholder="Отчество">
      <input type="submit" class="submit" value="Зарегистрироваться">
    </form>
    <span class="after_form">Уже есть аккаунт?<a>Войти</a></span>
  </div>
</div>
</body>
</html>