{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="main__about">
  <h1>{{list_lang_site[lang_now][5]}}</h1>
  <p>{{list_lang_site[lang_now][6]}}</p>
</div>

<form class="form" method="post" action="">
  <h2>{{title}}</h2>
  <b>{{message}}</b>
  {{ form.hidden_tag() }}
  {{ form.email(class="form__input input", type="email", placeholder=list_lang_site[lang_now][7]) }}
  {% for error in form.email.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.password(class="form__input input", type="password", placeholder=list_lang_site[lang_now][8]) }}
  {% for error in form.password.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.password_again(class="form__input input", type="password", placeholder=list_lang_site[lang_now][9]) }}
  {% for error in form.password_again.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.name(class="form__input input", type="text", placeholder=list_lang_site[lang_now][10]) }}
  {% for error in form.name.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.surname(class="form__input input", type="text", placeholder=list_lang_site[lang_now][11]) }}
  {% for error in form.surname.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.pat(class="form__input input", type="text", placeholder=list_lang_site[lang_now][12]) }}
  {% for error in form.pat.errors %}
  <p class="alert alert-danger" role="alert">
    {{ error }}
  </p>
  {% endfor %}
  {{ form.submit(class="btn", type="submit", value=list_lang_site[lang_now][4]) }}
</form>

<img class="main__img" src="{{ url_for('static', filename='imgs/auth.png') }}" alt="">
{% endblock %}