{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}
<div class="form log">
  <span class="header_form">{{title}}</span>
  <b>{{message}}</b>
  <form action="" method="post">
    {{ form.hidden_tag() }}
      {{ form.email(placeholder="Почта", type="email") }}<br>
      {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      {{ form.password(placeholder="Пароль", type="password") }}<br>
      {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      {{ form.submit(type="submit", class="submit", value="Войти") }}
  </form>
  <span class="after_form">Нет аккаунта?<a href="/signup">Зарегистрироваться</a></span>
</div>
{% endblock %}
