{% extends "base.html" %}


{% block content %}
<div class="form reg">
  <span class="header_form">{{title}}</span>
  <h3 style="text-align: center;">{{message}}</h3>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      {{ form.email(type="email") }}<br>
      {% for error in form.email.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(type="password") }}<br>
      {% for error in form.password.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>
      {{ form.password_again.label }}<br>
      {{ form.password_again(type="password") }}<br>
      {% for error in form.password_again.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>
      {{ form.name.label }}<br>
      {{ form.name() }}<br>
      {% for error in form.name.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>
      {{ form.surname.label }}<br>
      {{ form.surname() }}<br>
      {% for error in form.surname.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>
      {{ form.pat.label }}<br>
      {{ form.pat() }}<br>
      {% for error in form.pat.errors %}
      <p class="alert alert-danger" role="alert">
        {{ error }}
      </p>
      {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
  </form>
  <span class="after_form">Уже есть аккаунт?<a href="/signin">Войти</a></span>
</div>
{% endblock %}